*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    text-align: center;
    background-color: #4ED587;
    margin-bottom: 20px;
}
.logo{
    height: 200px;
}
.one{
    height: 100%;
}
.btn1{
    margin-top: 20px;
    text-align: center;
}
.warning{
    color: red;
}
.two{
    background-color: #4DD486;
    height: 100%;
    padding-top: 100px;
}
.btn2{
    margin-top: 20px;
    text-align: center;
}
.forgot{
    color: #fff;
    text-decoration: none;
}
.reg{
    margin-bottom: 3px;
}
.fblogin{
    margin-top: 4px;
    margin-bottom: 10px;
}
.btn1 a{
    text-decoration: none;
}
.user_header{
    text-align: center;
    width: 100%;
    height: 76px;
    padding-top: 18px;
    background-color: #4ED587;
}
.user_header span{
    color: #fff;
    font-weight: bold;
    font-size: 25px;
}
.user_list{
    height: 65px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #B4B5B4;
}
.image{
    float: left;
    border-radius: 4px;
}
.image img{
    border-radius: 4px;
    border: 2px solid #1CC96E;
}
.details{
    float: left;
    margin-left: 10px;
}
.name{
    line-height: 16px;
    font-weight: bold;
    font-size: 16px;
}
.status{
    line-height: 16px;
    color: #B4B5B4;
}
.time{
    margin-left: 1px;
    line-height: 32px;
    font-size: 12px;
    color: #B4B5B4;
}
.circle{
    color: #C6C6C6;
}
.green{
    color:green;
}

.gray{
    color:#C6C6C6;
}
.log{
    float: right;
}
.thumb{
    color: #000;
    text-decoration: none;
}
.chat_header{
    width: 100%;
    height: 76px;
    position: fixed;
    top: 0;
    background-color: #4DD486;
}
.back{
    cursor: pointer;
    float: left;
    color: #fff;
    margin-left: 10px;
    margin-top: 24px;
}
.image2{
    float: left;
    margin-left: 8px;
    margin-top: 11px;
    border-radius: 4px;
    border: 2px solid #fff;
}
.name2{
    float: left;
    color: #fff;
    margin-left: 5px;
    margin-top: 12px;
    font-weight: bold;
    font-size: 16px;
}
.status2{
    position: absolute;
    left: 135px;
    float: left;
    color: #fff;
    margin-left: -36px;
    margin-top: 11px;
    font-size: 14px;
}
.time2{
    position: absolute;
    float: left;
    color: #fff;
    left: 135px;
    margin-left: -36px;
    margin-top: 11px;
    font-size: 14px;
}
.chat1{
    margin-top: 86px;
}
.chat{
    padding-left: 5px;
    padding-right: 5px;
}
.receive{
    width: 100%;
    margin-bottom: 5px;
}
.send{
    width: 100%;
    margin-bottom: 5px;
}
.msg_receive{
    float: left;
    background-color: #EEEFEF;
    max-width: 250px;
    border-radius: 4px;
    padding: 3px 5px;
    color: #000;
    line-height: 18px;
    border: 1px solid #B4B5B4;
}
.msg_send{
    float: right;
    line-height: 18px;
    color: #fff;
    background-color: #4DD486;
    max-width: 250px;
    border: 1px solid #11C35C;
    border-radius: 4px;
    padding: 3px 5px;
}
.type{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
    position: fixed;
    bottom: 0;
    background-color: #F1F3F4;
    width: 100%;
    height: 50px;
}
.chatter{
    float: left;
    width: 90%;
    border-radius: 4px;
    border: 1px solid #D0D4D6;
}
.send_msg{
    cursor: pointer;
    padding-left: 3%;
    padding-top: 7px;
    width: 10%;
    float: right;
    color: #5BC59F;
}
.time_receive{
    padding-top: 3px;
    width: 65px;
    float: left;
    margin-left: 10px;
    color: #CCCDCE;
}
.time_send{
    float: right;
    width: 65px;
    color: #7CDFA5;
}
.clear{
    clear: both;
}